@model Shop.Models.Accounts.LoginViewModel

@{
	ViewBag.Title = "User Login";
}

<body>
	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-5">
				<div class="card shadow-lg border-0 p-4">
					<h2 class="text-center fw-bold mb-4">Log In</h2>

					<form asp-controller="Accounts" asp-action="Login" method="post">
						<div asp-validation-summary="All" class="text-danger"></div>
						
						<div class="form-outline mb-4">
							<label class="form-label fw-500" asp-for="Email">Email address</label>
							<input asp-for="Email" class="form-control form-control-lg" placeholder="name@example.com" />
							<span asp-validation-for="Email" class="text-danger small"></span>
						</div>

						<div class="form-outline mb-4">
							<label class="form-label fw-500" asp-for="Password"> Password</label>
							<input asp-for="Password" class="form-control form-control-lg" placeholder="your password" />
							<span asp-validation-for="Password" class="text-danger"></span>
						</div>

						<div class="row mb-4">
							<div class="checkbox">
								<label asp-for="RememberMe">
									<input asp-for="RememberMe" />
									@Html.DisplayNameFor(m => m.RememberMe)
								</label>
							</div>
						</div>

						<div>
							<a asp-action="ForgotPassword">Forgot Password?</a>
						</div>

						<button type="submit" class="btn btn-primary btn-lg w-100 mb-4 shadow-sm">
							Log In
						</button>
					</form>
				</div>

				<div class="text-center">
					<p class="mb-2">Don't have an account? <a asp-action="Register" class="text-decoration-none">Register</a></p>
					<p class="text-muted small">or sign in with:</p>

					<div class="d-flex justify-content-center gap-2">
						<a asp-controller="Accounts" asp-action="GoogleLogin" class="btn btn-outline-secondary btn-floating">
							<i class="bi bi-google"></i>
						</a>

						<button type="button" class="btn btn-outline-secondary btn-floating">
							<i class="bi bi-facebook"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
