@model Shop.Models.Accounts.RegisterViewModel

<body>
	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-5">
				<div class="card shadow-lg border-0 p-4">
					<h2 class="text-center fw-bold mb-4">Register Account</h2>

					<form asp-controller="Accounts" asp-action="Register" method="post" enctype="multipart/form-data">
						<div asp-validation-summary="All" class="text-danger"></div>

						<div class="form-outline mb-4">
							<label class="form-label fw-500" asp-for="Email">Email address</label>
							<input asp-for="Email" class="form-control form-control-lg" placeholder="name@example.com" />
							<span asp-validation-for="Email" class="text-danger small"></span>
						</div>

						<div class="form-outline mb-4">
							<label class="form-label fw-500" asp-for="Name">Name</label>
							<input asp-for="Name" class="form-control form-control-lg" placeholder="Username" />
							<span asp-validation-for="Name" class="text-danger small"></span>
						</div>

						<div class="form-outline mb-4">
							<label class="form-label fw-500" asp-for="City">City of region</label>
							<input asp-for="City" class="form-control form-control-lg" placeholder="New York" />
							<span asp-validation-for="City" class="text-danger small"></span>
						</div>

						<div class="form-outline mb-4">
							<label class="form-label fw-500" asp-for="Password">Password</label>
							<input asp-for="Password" class="form-control form-control-lg" placeholder="your password" />
							<span asp-validation-for="Password" class="text-danger small"></span>
						</div>

						<div class="form-outline mb-4">
							<label class="form-label fw-500" asp-for="ConfirmPassword">Confirm Password</label>
							<input asp-for="ConfirmPassword" class="form-control form-control-lg" />
							<span asp-validation-for="ConfirmPassword" class="text-danger small"></span>
						</div>

						<button type="submit" class="btn btn-primary btn-lg w-100 mb-4 shadow-sm">
							Register
						</button>

					</form>
				</div>
			</div>
		</div>
	</div>
</body>